*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
}

.layout{

width: 100%;
height: 100vh;

display: flex;
flex-direction: column;
}



 header{
flex: 0 0 15%;

background-color: #ff6247;

display: flex;
justify-content: center;
align-items: center;
}


.conteudo{
flex: 1;  
flex-direction: row;
display: flex;
}


 nav{
flex: 0 0 20%;

background-color: #d7bfd7;

display: flex;
justify-content: center;
align-items: center;
}



 article{
flex: 0 0 60%;

background-color: #99fb98;

display: flex;
justify-content: center;
align-items: center;
}



 footer{   
height: 15%;

background-color: #8a2ae3;

display: flex;
justify-content: center;
align-items: center;
}

 aside{
flex: 0 0 20%;
background-color: #f4dfb4;

display: flex;
justify-content: center;
align-items: center;


}